<script>
	import Campaigns from "cmps/Campaigns.svelte";
</script>

<style>

	p {
		margin: 1em auto;
	}

</style>

<svelte:head>
	<title>Koordinator</title>
</svelte:head>




<h3>Welcome to Koordinator.</h3>
<p>
	Work in progress. <a href="https://github.com/koo5/koordinator2000/blob/master/README.md">README.md</a>. It's like kickstarter, but not for collecting money, rather, it's for coordinating collective actions.</p>

<h3>Featured Campaigns:</h3>

<Campaigns/>


